In [1]:
import pandas
master_course_imformation = pandas.read_csv('data/Outputs/imformation.csv')
master_course_innovation = pandas.read_csv('data/Outputs/innovation.csv')
master_course_other = pandas.read_csv('data/Outputs/other.csv')
master_course_technology = pandas.read_csv('data/Outputs/technology.csv')

master_course_imformation = master_course_imformation.drop(columns=['Unnamed: 0'])
master_course_innovation = master_course_innovation.drop(columns=['Unnamed: 0'])
master_course_other = master_course_other.drop(columns=['Unnamed: 0'])
master_course_technology = master_course_technology.drop(columns=['Unnamed: 0'])
master_course_other

        科目                             Subject  english
0     科技英文  English for Science and Technology    False
1     海外研習                      Overseas Study    False
2  多元文化與實務   Multicultural Theory and Practice    False

In [2]:
open_course = pandas.read_csv('data/Outputs/開課-日碩-上.csv')
# bachelor_open_course = bachelor_open_course.set_index('代碼')
open_course['english'] = False
open_course

,代碼,學分,學時,老師,班級,Subject,科目,時間,地點,english
0,GA01,3,3,黃展鵬,資管碩一選2,Introduction and practice of Digital Learning,數位學習導論與實務,二05-07,管理館M402A),False
1,GA02,3,3,劉宜菁,資管碩一選2,Business Innovation and Management,企業創新與管理,三02-04,管理館M510B),False
2,GA03,3,3,范振銘,資管碩一選3,Enterprise Resource Planning,企業資源規劃,四05-07,管理館M510B),False
3,GA04,3,3,黃俊明,資管碩一選4,TRIZ-Innovative Thinking and Application,萃思創意思考與應用,五02-04,管理館M108),False
4,GA05,3,3,董俊良,資管碩一選5,Big Data Analytics,巨量資料分析,五05-07,管理館M402A),False
5,GA95,3,3,楊惠貞,資管碩一,Research Method,研究方法,二02-04,管理館M510B),False
6,GA96,3,3,張定原,資管碩一,Innovation Research,創新研究,一06-08,管理館M402A),False
7,GA97,1,2,資書報,資管碩一,Seminar（I）,書報討論（一）,三05-06,管理館M503),False
8,GA99,3,3,NaN,資管碩二,Papers,論文,NaN,NaN,False

In [3]:
def match_course_func(df):
    match_course = []
    for master_index, master_row in df.iterrows():
        for open_index, open_row in open_course.iterrows():
            if ((type(master_row.科目) is str) and (type(open_row.科目) is str)):
                if (master_row.科目.strip() == open_row.科目.strip()):
                    if master_row.english:
                        open_row.english = True
                    match_course.append(open_row)
    match_course = pandas.DataFrame(match_course)
    return match_course

In [4]:
match_course_func(master_course_imformation)

,代碼,學分,學時,老師,班級,Subject,科目,時間,地點,english
2,GA03,3,3,范振銘,資管碩一選3,Enterprise Resource Planning,企業資源規劃,四05-07,管理館M510B),False

In [5]:
match_course_func(master_course_innovation)

,代碼,學分,學時,老師,班級,Subject,科目,時間,地點,english
1,GA02,3,3,劉宜菁,資管碩一選2,Business Innovation and Management,企業創新與管理,三02-04,管理館M510B),False
3,GA04,3,3,黃俊明,資管碩一選4,TRIZ-Innovative Thinking and Application,萃思創意思考與應用,五02-04,管理館M108),False

In [6]:
match_course_func(master_course_other)

Empty DataFrame
Columns: []
Index: []

In [7]:
match_course_func(master_course_technology)

,代碼,學分,學時,老師,班級,Subject,科目,時間,地點,english
4,GA05,3,3,董俊良,資管碩一選5,Big Data Analytics,巨量資料分析,五05-07,管理館M402A),False